
body {
    font-family: sans-serif;
    background-image: linear-gradient(#fcb30b,#ec7b1b,#ec7b1b,#fcb30b);
    color: black;
}
.logo{
    width: 350px;
    height: 350px;
    float: right;
    
}


main{
   margin-left: 180px;
}
nav a{
    position: fixed;
    left: -80px;
transition: 0.3s ;
padding: 15px;
width: 100px;
text-decoration: none;
font-size: 20px;
color: black;
border-radius: 10px;
opacity: 0.20;


}
nav a:hover{
    left: 0;
opacity: 1;
}
.about{
    top: 30px;
    background-image: linear-gradient(#f04e23,#fcb30b);
    border: 3px solid #f04e23;
    color: #26316b;
    text-shadow:5px 0px 3px white;
    
}
.blog{
    top: 100px;
    background-image: linear-gradient(#f04e23,#fcb30b);
    border: 3px solid #f04e23;
    color: #26316b;
    text-shadow:5px 0px 3px white;
    
}
.projects{
    top: 190px;
    background-image: linear-gradient(#f04e23,#fcb30b);
    border: 3px solid #f04e23;
    color: #26316b;
    text-shadow:5px 0px 3px white;
}
.contact{
    top: 260px;
    background-image: linear-gradient(#f04e23,#fcb30b);
    border: 3px solid #f04e23;
    color: #26316b;
    text-shadow:5px 0px 3px white;
}
.div2{
    background-color: white;
    border-radius: 50px;
    padding: 15px;
    margin-right: 50px;
    border: 5px solid #f04e23 ;
     box-shadow: 15px 20px 5px #f04e23;

    
}

.div1{
    background-color: white;
    border-radius: 50px;
    padding: 15px;
    margin-right: 50px;
    border: 5px solid #f04e23 ;
    box-shadow: 15px 20px 5px #f04e23;


    
}
.div3{
   background-color: white;
    border-radius: 50px;
    padding: 15px;
    
    border: 5px solid blue ;
    
   
}
.div4{
   background-color: white;
    border-radius: 50px;
    padding: 15px;
float: right;
    border: 5px solid red ;
    
   
}
.img1{
    height: 90%;
    width: 100%;
    display: flex;
   
}
.img2{
    height: 90%;
    width: 90%;
    display: flex;
    border-radius: 50px;
    border: 5px solid blue;
    float: right;
    margin: 5px;
}
iframe{
    width: 1000px;
    height: 300px;
    float: right;
   border-radius: 30px;
   margin: 20px;
   display: block;
   margin-right: 40px;
   box-shadow: 10px 10px 5px #f04e23;
}
h3{

 background-color: white;
 border-radius: 15px;
 margin: 20px;
 padding: 20px;
 float: right;
 box-shadow: 10px 10px 5px #f04e23 ;
}
.logo2{
    width: 400px;
    height: 400px;
    display: block;
    margin: 0 auto;
    
}
.text2{
    text-align: center;
    background-color: white;
    margin: 50px;
    padding: 15px;
    border-radius: 15px;
    border:5px solid #f04e23;
    width: 500px;
    float: right;
    box-shadow: 10px 10px 5px #f04e23 ;
}
.text3{
    text-align: center;
display: flex;
    margin-left: 280px;
}
